@theme {
	/* primary */
	--color-primary-50: oklch(0.99 0.02 259.8);
	--color-primary-100: oklch(0.91 0.03 259.8);
	--color-primary-200: oklch(0.83 0.06 259.8);
	--color-primary-300: oklch(0.75 0.11 259.8);
	--color-primary-400: oklch(0.57 0.17 259.8);
	--color-primary-500: oklch(0.62 0.21 259.8);
	--color-primary-600: oklch(0.47 0.25 259.8);
	--color-primary-700: oklch(0.39 0.23 259.8);
	--color-primary-800: oklch(0.31 0.2 259.8);
	--color-primary-900: oklch(0.23 0.15 259.8);

	/* secondary */
	--color-secondary-50: oklch(0.99 0.02 240);
	--color-secondary-100: oklch(0.91 0.03 240);
	--color-secondary-200: oklch(0.83 0.06 240);
	--color-secondary-300: oklch(0.75 0.11 240);
	--color-secondary-400: oklch(0.57 0.17 240);
	--color-secondary-500: oklch(0.62 0.21 240);
	--color-secondary-600: oklch(0.47 0.25 240);
	--color-secondary-700: oklch(0.39 0.23 240);
	--color-secondary-800: oklch(0.31 0.2 240);
	--color-secondary-900: oklch(0.23 0.15 240);

	/* accent */
	--color-accent-50: oklch(0.99 0.02 30);
	--color-accent-100: oklch(0.91 0.03 30);
	--color-accent-200: oklch(0.83 0.06 30);
	--color-accent-300: oklch(0.75 0.11 30);
	--color-accent-400: oklch(0.57 0.17 30);
	--color-accent-500: oklch(0.62 0.21 30);
	--color-accent-600: oklch(0.47 0.25 30);
	--color-accent-700: oklch(0.39 0.23 30);
	--color-accent-800: oklch(0.31 0.2 30);
	--color-accent-900: oklch(0.23 0.15 30);

	/* neutral */
	--color-neutral-50: oklch(0.87 0.001 0);
	--color-neutral-100: oklch(0.79 0.001 0);
	--color-neutral-200: oklch(0.71 0.003 0);
	--color-neutral-300: oklch(0.63 0.005 0);
	--color-neutral-400: oklch(0.45 0.008 0);
	--color-neutral-500: oklch(0.5 0.01 0);
	--color-neutral-600: oklch(0.35 0.012 0);
	--color-neutral-700: oklch(0.27 0.011 0);
	--color-neutral-800: oklch(0.19 0.01 0);
	--color-neutral-900: oklch(0.11 0.007 0);

	/* success */
	--color-success-50: oklch(1 0.021 149.6);
	--color-success-100: oklch(1 0.031 149.6);
	--color-success-200: oklch(0.93 0.063 149.6);
	--color-success-300: oklch(0.85 0.115 149.6);
	--color-success-400: oklch(0.67 0.178 149.6);
	--color-success-500: oklch(0.72 0.22 149.6);
	--color-success-600: oklch(0.57 0.262 149.6);
	--color-success-700: oklch(0.49 0.241 149.6);
	--color-success-800: oklch(0.41 0.209 149.6);
	--color-success-900: oklch(0.33 0.157 149.6);

	/* warning */
	--color-warning-50: oklch(1 0.018 70.1);
	--color-warning-100: oklch(1 0.027 70.1);
	--color-warning-200: oklch(0.98 0.054 70.1);
	--color-warning-300: oklch(0.9 0.1 70.1);
	--color-warning-400: oklch(0.72 0.154 70.1);
	--color-warning-500: oklch(0.77 0.19 70.1);
	--color-warning-600: oklch(0.62 0.226 70.1);
	--color-warning-700: oklch(0.54 0.208 70.1);
	--color-warning-800: oklch(0.46 0.181 70.1);
	--color-warning-900: oklch(0.38 0.136 70.1);

	/* error */
	--color-error-50: oklch(1 0.024 16.4);
	--color-error-100: oklch(0.93 0.036 16.4);
	--color-error-200: oklch(0.85 0.071 16.4);
	--color-error-300: oklch(0.77 0.131 16.4);
	--color-error-400: oklch(0.59 0.203 16.4);
	--color-error-500: oklch(0.64 0.25 16.4);
	--color-error-600: oklch(0.49 0.297 16.4);
	--color-error-700: oklch(0.41 0.274 16.4);
	--color-error-800: oklch(0.33 0.238 16.4);
	--color-error-900: oklch(0.25 0.178 16.4);
}
